* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "PingFang-SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
        sans-serif !important;
}

@font-face {
    font-family: "led";
    src: url("../fonts/led.ttf");
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
