/*
 *@description:
 * @author wayne
 * @date 2022-06-15 08:50
*/

@import "../../global.less";
.left-box-container{
  overflow: hidden;
  position: absolute;
  left: calc(135.17px * @measureSize);
  top: calc(307.83px * @measureSize);
  width: calc(835px * @measureSize);
  height: calc(980px * @measureSize);
  z-index: 25;
  transform: rotate(0deg);
}